.navbar {
  box-shadow: 0px 1px 3px #3333333b;
  padding: 10px 0;
  position: sticky;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999;
  display:flex;
  display: flex;
  justify-content: space-between;
}

.navbar_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right:50px;
}
.navbar_logo p {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  margin-top:15px;
}
.navbar_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
}

.navbar_menu a {
  text-decoration: none;
  color: #626262;
}
.navbar_menu a.active {
  font-weight: 500;
}
.navbar_menu a.active::after {
  content: "";
  display: block;
  border: 1.5px solid #ff4141;
  margin: 7px 0;
}
.navbar_cart {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar_cart button {
  padding: 10px;
  width: 100px;
  background-color: #fff;
  border: 1px solid #7a7a7a;
  border-radius: 15px;
  font-size: 18px;
  color: #515151;
  cursor: pointer;
}
.navbar_cart button:active {
  background-color: #f3f3f3;
}
.navbar_cart img {
  cursor: pointer;
}

.cart_counter {
  width: 22px;
  height: 22px;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 800;
  margin-top: -35px;
  margin-left: -35px;
}

@media only screen and (max-width: 768px) {

  .navbar_menu{
    flex-direction: column;
  }
  .navbar_cart{
    justify-content: center;
    margin:30px 0;
  }
}
@media only screen and (min-width: 769px ) and (max-width: 992px){

  .navbar_menu{
    flex-direction: column;
  }
  .navbar_cart{
    justify-content: center;
    margin:30px 0;
  }
}
